<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Pricing Transparency</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/index.js"></script>
</head>

<body>
  <form action="result">
    <label for="fname">Procedure</label>
    <select name="code" id="code">
      <option value="19120">Removal of 1 or more breast growth, open procedure</option>
      <option value="29826">Shaving of shoulder bone using an endoscope</option>
      <option value="29881">Removal of one knee cartilage using an endoscope</option>
      <option value="42820">Removal of tonsils and adenoid glands patient younger than age 12</option>
      <option value="43235">Diagnostic examination of esophagus, stomach, and/or upper small
bowel using an endoscope</option>
      <option value="43239">Biopsy of the esophagus, stomach, and/or upper small bowel using an
endoscope</option>
      <option value="45378">Diagnostic examination of large bowel using an endoscope</option>
      <option value="45380">Biopsy of large bowel using an endoscope </option>
      <option value="45385">Removal of polyps or growths of large bowel using an endoscope</option>
      <option value="45391">Ultrasound examination of lower large bowel using an endoscope</option>
      <option value="47562">Removal of gallbladder using an endoscope</option>
      <option value="49505">Repair of groin hernia patient age 5 years or older</option>
      <option value="55700">Biopsy of prostate gland </option>
      <option value="55866">Surgical removal of prostate and surrounding lymph nodes using an
endoscope</option>
      <option value="59400">Routine obstetric care for vaginal delivery, including pre-and postdelivery care</option>
      <option value="59510">Routine obstetric care for cesarean delivery, including pre-and postdelivery care </option>
      <option value="59610">Routine obstetric care for vaginal delivery after prior cesarean
delivery including pre-and post-delivery care </option>
      <option value="62322">Injection of substance into spinal canal of lower back or sacrum using
imaging guidance </option>
      <option value="62323">Injection of substance into spinal canal of lower back or sacrum using
imaging guidance </option>
      <option value="64483">Injections of anesthetic and/or steroid drug into lower or sacral spine
nerve root using imaging guidance </option>
      <option value="66821">Removal of recurring cataract in lens capsule using laser </option>
      <option value="66984">Removal of cataract with insertion of lens </option>
      <option value="70450">CT scan, head or brain, without contrast </option>
      <option value="70553">MRI scan of brain before and after contrast</option>
      <option value="72110">X-Ray, lower back, minimum four views </option>
      <option value="72148">MRI scan of lower spinal canal </option>
      <option value="72193">CT scan, pelvis, with contrast</option>
      <option value="73721">MRI scan of leg joint</option>
      <option value="74177">CT scan of abdomen and pelvis with contrast</option>
      <option value="76700">Ultrasound of abdomen</option>
      <option value="76805">Abdominal ultrasound of pregnant uterus (greater or equal to 14
weeks 0 days) single or first fetus </option>
      <option value="76830">Ultrasound pelvis through vagina </option>
      <option value="77065">Mammography of one breast </option>
      <option value="77066">Mammography of both breasts </option>
      <option value="77067">Mammography, screening, bilateral </option>
      <option value="80048">Basic metabolic panel </option>
      <option value="80053">Blood test, comprehensive group of blood chemicals </option>
      <option value="80055">Obstetric blood test panel </option>
      <option value="80061">Blood test, lipids (cholesterol and triglycerides)</option>
      <option value="80069">Kidney function panel test </option>
      <option value="80076">Liver function blood test panel </option>
      <option value="81000">Manual urinalysis test with examination using microscope </option>
      <option value="81001">Manual urinalysis test with examination using microscope </option>
      <option value="81002">Automated urinalysis test </option>
      <option value="81003">Automated urinalysis test </option>
      <option value="84153">PSA (prostate specific antigen) </option>
      <option value="84154">PSA (prostate specific antigen) </option>
      <option value="84443">Blood test, thyroid stimulating hormone (TSH) </option>
      <option value="85025">Complete blood cell count, with differential white blood cells,
automated</option>
      <option value="85027">Complete blood count, automated</option>
      <option value="85610">Blood test, clotting time</option>
      <option value="85730">Coagulation assessment blood test </option>
      <option value="90832">Psychotherapy, 30 min</option>
      <option value="90834">Psychotherapy, 45 min</option>
      <option value="90837">Psychotherapy, 60 min</option>
      <option value="90846">Family psychotherapy, not including patient, 50 min</option>
      <option value="90847">Family psychotherapy, including patient, 50 min </option>
      <option value="90853">Group psychotherapy</option>
      <option value="93000">Electrocardiogram, routine, with interpretation and report</option>
      <option value="93452">Insertion of catheter into left heart for diagnosis </option>
      <option value="95810">Sleep study </option>
      <option value="97110">Physical therapy, therapeutic exercise</option>
      <option value="99203">New patient office or other outpatient visit, typically 30 min</option>
      <option value="99204">New patient office of other outpatient visit, typically 45 min </option>
      <option value="99205">New patient office of other outpatient visit, typically 60 min </option>
      <option value="99243">Patient office consultation, typically 40 min </option>
      <option value="99244">Patient office consultation, typically 60 min </option>
      <option value="99385">Initial new patient preventive medicine evaluation (18-39 years) </option>
      <option value="99386">Initial new patient preventive medicine evaluation (40-64 years)</option>
    </select>
    <br />
    <br />
    <label for="miles">Search Range Around Austin</label>
    <select name="miles" id="miles">
      <option value="50">50 miles</option>
      <option value="100">100 miles</option>
      <option value="150">150 miles</option>
    </select>
    <br />
    <input type="submit" value="Submit">
</body>

</html>