<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/index.js"></script>
</head>

<body>
  <form action="result">
    <label for="fname">Search</label>
    <br />
    <input type="text" placeholder="mri scan of my leg" name="search"><br>
    <br />
    <label for="miles">Search Range</label>
    <select name="miles" id="miles">
      <option value="50">50 miles</option>
      <option value="100">100 miles</option>
      <option value="150">150 miles</option>
    </select>
    <br />
    <input type="submit" value="Submit">
</body>

</html>